$dark_blue: #012c5b;
$light_blue: #3498db;
$lightest_blue: #c6e3ff;
$med_blue: #28a3dc;

$white: #ffffff;
$dark_grey: #505050;
$light_grey: #e0e0e0;
$lightest_grey: #f9f9f9;
$med_grey: #8a8a8a;
$subdued_grey: #8b8b8b;
$trans_grey: rgba(244, 244, 244, 0.9);
$black: #000000;

$dark_green: #1c8d43;
$med_green: #11c55a;
$med_green: #27ae60;

$red: #f10000;
$med_red: #ad1607;

$med_yellow: #f1c40f;

$orange: #fb5b47;
$purple: #c65ffb;
$yellow: #fbc000;
